<IfModule mod_rewrite.c>
RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule    ^([a-z]+)/([a-z0-9]+)?$    index.php?com=$1&id=$2    [NC,L]    # Handle requests for "command/id"

RewriteRule    ^(.*)?$    index.php?request=$1    [QSA,NC,L]    # Handle requests for  
</IfModule>
